*{
    margin: 0;
    padding: 0;
}
main{
    margin-top: 50px;
}
.header{
    margin: auto;
    width: 62%;
    display: flex;
    justify-content: space-evenly;
}
.header .searchMember{
    background-color: cyan;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}
.header .searchMember #search{
    background-color: transparent;
    border: none;
    outline: none;
    color: #444;
    font-size: 14px;
    width: 81%;
    cursor: pointer;
}
.header .searchMember i{
    color: #444;
    font-size: 14px;
}
.header .addNewMember{
    padding: 12px 58px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: cyan;
    color: #444;
}
/* overlay */
.overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}
.addNewContact{
    width: 35%;
    background-color: cyan;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 4px;
    padding: 40px;
    border: 1px solid #000;
    text-align: center;
    z-index: 2;
    display: none;
}
.addNewContact>i{
    font-size: 85px;
}
.addNewContact input{
    color: #888;
    width: 90%;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 50px;
    border: none;
    outline: none;
}
.addNewContact .btn{
    background-color: transparent;
    padding: 10px 20px;
    margin-top: 30px;
    border: solid 1px #000;
    font-size: 17px;
    border-radius: 7px;
    cursor: pointer;
}
.addNewContact .closeBtn{
    position: absolute;
    font-size: 30px;
    cursor: pointer;
    top: 3%;
    right: 5%;
}
/* table */
.tableSection{
    margin-top: 40px;
}
.tableSection table{
    margin: auto;
    width: 80%;
    border-collapse: collapse;
    text-align: center;
}
th,td{
    border: solid 1px #999;
    padding: 10px 20px;
}
.green{
    color: green;
    cursor: pointer;
}
.red{
    color: red;
    cursor: pointer;
}